#gamecontainer{
    width: 640px;
    height: 480px;
    background: url(../img/splashscreen.png);
    border: 1px solid black;
}

.gamelayer{
    width: 640px;
    height: 480px;
    position: absolute;
    display: none;
}

#gamestartscreen{
    padding-top: 250px;
    text-align: center;
}

#gamestartscreen img{
    margin: 10px;
    cursor: pointer;
}

#levelselectscreen{
    padding: 150px 0 0 50px
}

#levelselectscreen input{
    margin: 20px;
    cursor: pointer;
    background: url(../img/icons/level.png);
    color: yellow;
    font-size: 20px;
    width: 64px;
    height: 64px;
    border: 0;
}

#loadingscreen{
    background: rgba(100,100,100,0.5)
}

#loadingmessage{
    margin-top: 400px;
    text-align: center;
    height: 48px;
    color: ghostwhite;
    background: url(../img/loader.gif) no-repeat center;
    font: 12px Arial;
}

#scorescreen{
    height: 60px;
    font: 32px 'Comic Sans MS', sans-serif;
    text-shadow: 0 0 2px #000000;
    color: ghostwhite;
}
#scorescreen img{
    opacity: 0.60;
    top: 10px;
    position: relative;
    padding-left: 10px;
    cursor: pointer;
}

#scorescreen #score{
    position: absolute;
    top: 5px;
    right: 20px;
}

#endingscreen{
    text-align: center;
    /*Extras to make ending screen look nice*/
    background: rgba(10,10,10,0.75);
    font: 32px 'Comic Sans MS', sans-serif;
    text-shadow: 0 0 2px #000000;
    color: ghostwhite;
    vertical-align: middle;
}

*[onclick] {
    cursor: pointer;
}